div[data-testid="stVerticalBlock"] > div > div[data-testid="stVerticalBlock"] > div > div[data-testid="stVerticalBlock"] > div[data-testid="stHorizontalBlock"] > div[data-testid="column"] {
    border-style: none;
}

div[data-testid="column"] {
    border-style: solid;
    border-width: thin;
    border-color: gray;
    padding: 0.75rem;
}